//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('Inter-Light', 'Inter', 'Inter-Light',  normal, normal)
webfont('Inter-Medium', 'Inter', 'Inter-Medium',  normal, normal)
webfont('KudryashevDisplay-Sans', 'Kudryashov', 'KudryashevDisplay-Sans',  normal, normal)

