{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo bg bg-with-overlay" style="background-image: url('img/backgrounds/promo.jpg');">
				<div class="container">
					<div class="promo-block text-center">
						<h1 class="title">
							<span>A Nova 2</span>
							<img src="img/nova2.svg" alt="">
						</h1>
						<p>A NOVA 2 является вторым обьектом группы домов A NOVA HOUSE, реализованным командой SDG и архитектурным бюро братьев GABRUK, которые предусмотрели все до наименьших деталей, чтобы вы наслаждались жизнью</p>

						<div class="promo-block__btns">
							<a href="#flats" class="btn js-smooth-scroll-link">квартиры</a>
							<a href="#commercial" class="btn btn-transparent js-smooth-scroll-link">коммерция</a>
						</div>
					</div>
				</div>
				<!-- //container -->

				<div class="advantages">
					<div class="container">
						<div class="advantages-content dark-bg">
							<div class="row advantages__row">
								<div class="advantage col-w-33">
									<p>Пассивный доход 365 дней в году</p>
								</div>
								<div class="advantage col-w-33">
									<p>Срок окупаемости - от 6 лет</p>
								</div>
								<div class="advantage col-w-33">
									<p>Стоимость м² - от $ 1200</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- //promo -->

			<section class="sect__about gutter-top-sm gutter-bottom" id="aboutComplex">
				<h2 class="sect-title container">О комплексе A Nova 2</h2>

				<div class="container">
					<div class="block-img-wrapper">

						<div class="block-text">
							<div class="about-complex__text content">
								<p>A NOVA 2 -  это современный клубный дом в Киеве с полных спектром необходимых элементов  для комфортной жизни:</p>
								<ul>
									<li>функциональный дизайн</li>
									<li>скоростной лифт</li>
									<li>лаунж зона на крыше</li>
									<li>стильные подъезды и входная группа</li>
									<li>обслуживание гостиничного класса</li>
								</ul>
							</div>

							<div class="about-complex__information row row-gutters align-horisontal-start">
								<div class="col-w-33 col-gutters">
									<span class="about-complex__information--value">3+1</span>
									<p>Количество этажей</p>
								</div>
								<div class="col-w-33 col-gutters">
									<span class="about-complex__information--value">49</span>
									<p>Количество квартир</p>
								</div>
								<div class="col-w-33 col-gutters">
									<span class="about-complex__information--value">2100</span>
									<p>Площадь дома, м²</p>
								</div>
							</div>
						</div>
						
						<div class="block-img bg" style="background-image: url('img/textures/about.jpg');">
							<img src="img/1.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //about -->

			<section class="sect__traditions gutters">
				<div class="container">
					<div class="traditions-wrapper row align-horisontal-end align-vertical-center">
						<div class="traditions">
							<h2 class="sect-title sect-title-sm">Традиции киевской архитектуры в новой форме</h2>
							<div class="content">
								<p>A Nova House - это полезное пространство с эксклюзивным дизайном, которое удовлетворяет все потребности жильцов:</p>
								<ul>
									<li>эксклюзивный дизайн квартир с панорамными окнами;</li>
									<li>современная отделка подъездов;</li>
									<li>придомовая территория уровня бизнес-класса.</li>
								</ul>
								<p>Уникальность проекта заключатся в гармоничном объединении уже сложившейся архитектурной композиции улицы с передовыми смарт-решениями.</p>
							</div>

							<div class="traditions-img">
								<img src="img/2.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //traditions -->

			<div class="view-360__wrapper gutter-top">
				<div class="container">
					<div class="view-360 gutter-top gutter-bottom-sm" style="background-image: url('img/textures/view.jpg');">
						<div class="view-360__content">
							<h2 class="sect-title sect-title-md basic-white-color">убедитесь на все 360° <br>в преимуществах жизни в стиле Smart</h2>

							<button class="btn" type="button">тур 360°</button>
						</div>
					</div>
				</div>
				<!-- //container -->
			</div>

			<section class="sect__lounge-zone gutter-bottom">
				<h2 class="sect-title container">лаунж-зона на крыше</h2>
				<div class="container">
					<div class="lounge-zone">
						<img src="img/lounge.jpg" alt="">
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //lounge -->

			<section class="sect__entering gutter-top-sm gutter-bottom-sm">
				<h2 class="sect-title container">входная группа</h2>
				<div class="container">
					
				</div>
				<!-- //container -->
			</section>
			<!-- //lounge -->

			<section class="sect__investor gutter-bottom" id="forInvestor">
				<h2 class="sect-title container text-center">инвестору</h2>

				<div class="container">
					<div class="block-img-wrapper">

						<div class="block-text">
							<div class="content">
								<h3>надежная и выгодная инвестиция</h3>
								<p>Покупка смарт-квартиры обойдется вам на 20-25% дешевле, чем однокомнатной. Мы предлагаем готовый бизнес: вы получаете квартиру с ремонтом и полной комплектацией уже готовую для аренды.<br> Управляющая компания берет на себя все текущие заботы.</p>
								<h3>быстрый срок окупаемости</h3>
								<p>Смарт-квартиры пользуются популярностью на рынке аренды и окупаются гораздо быстрее обычных квартир. При этом цена аренды такого жилья на уровне хорошей квартиры и имеет позитивную динамику роста. Прогнозируемый срок - всего 6 лет.</p>
								<h3>стабильный высокий доход от аренды</h3>
								<p>Мы предлагаем выгодные условия для инвестора: от цены за м² до услуг управляющей компании. Для арендаторов привлекательность заключается в личном комфорте без переплат за раздутые площади, расположении в 5 минутах от метро.</p>
							</div>

						</div>
						
						<div class="block-img bg">
							<img src="img/3.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //about -->



		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>