.langs
	margin-right 25px
	li
		display inline-block
		position relative
		padding-right 6px
		&:after
			right 0
			pseudo()
			position absolute
			vertical-center()
			width 1px
			background-color rgba(255, 255, 255, 0.4)
			height 16px
		&:last-child
			padding-right 0
			&:after
				display none
			
		&.current-lang
			a
				color $basic-white-color
	a
		color rgba(255, 255, 255, 0.4)
		&:hover
			color $basic-white-color
			
.phone-link
	font 18px $Kudryashov
	color $basic-white-color
	white-space nowrap
	&:hover
		color $accent-color
		
.fancy-link
	position relative
	display block
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba($dark-bg, .85)
		transition opacity .17s ease-in-out
		opacity 0
	&:after
		pseudo()
		position absolute
		position-center()
		z-index 1
		width 25px
		height 25px
		background url('../img/icons/svg/fullscreen.svg') no-repeat / contain
		transition opacity .17s ease-in-out
		opacity 0
	&:hover
		&:before,
		&:after
			opacity 1
		
	img
		display block