//  Fonts 

$Light = 'Inter-Light', Arial, sans-serif
$Med = 'Inter-Medium', Arial, sans-serif
$Kudryashov = 'KudryashevDisplay-Sans', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Light
$body-font-size = 14px
$body-line-height = 23px

// Sizes
$container-width = 1240px
$container-gutters = 0 20px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 100px 0
$gutter-top = 100px
$gutter-top-sm = 60px
$gutter-bottom = 100px
$gutter-bottom-sm = 60px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #D4AA90

$text-color = #090B13
$light-text-color = #F4F4F6

$basic-white-color = #fff
$basic-black-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #a2a2a2
$footer-bg = #090B13


$color-bg = #F4F4F6

$dark-bg = #090B13

$bg-overlay-color = #090B13
$bg-overlay-opacity = .6
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .7
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========