.sect__promo
	min-height 100vh
	display flex
	align-items center
	padding 130px 0 

	position relative
	overflow hidden
	background-size 0 0
	
	.container
		position relative
		z-index 4


	&:before
		pseudo()
		position absolute
		fullSize()
		background-image inherit
		background-size cover
		background-repeat no-repeat
		background-position 50% 50%
		will-change transform
		transform scale(1.25, 1.25) 
		z-index -1
		
	&:after
		pseudo()
		position absolute
		fullSize()
		background-color rgba($dark-bg, .6)
		z-index 1

	
.title
	margin-bottom 35px
	span
		display none
	img
		display block
		width 100%
		
.promo-block
	color $basic-white-color
	font-size 16px
	line-height 26px
	opacity 0
	margin-top 30px
	transition all .3s ease-in-out
	transition-delay .9s
	p
		margin 0 auto 35px auto
		max-width 665px
		
	&__btns
		.btn
			margin-right 16px
			width 160px
			padding-left 10px
			padding-right 10px
			&:last-child
				margin-right 0
				
			&:hover
				color $accent-color
				
.advantages
	position absolute
	z-index 2
	bottom 0
	left 50%
	transform translate(-50%, 100%)
	width 100%
	display flex
	align-items center
	transition transform .25s ease-in-out
	transition-delay .7s
	
	&-content
		height 100px
		color $basic-white-color
		display flex
		align-items center
		padding 25px
	&__row
		width 100%
		
.advantage
	text-align center
	position relative
	padding-left 15px
	padding-right 15px
	&:after
		pseudo()
		height 50px
		width 1px
		background-color rgba(255, 255, 255, 0.15)
		position absolute
		right 0
		vertical-center()
	&:last-child
		&:after
			display none
			
// About
.about-complex
	&__text
		margin 0 auto 75px auto
		max-width 300px
		&:last-child
			margin-bottom 0
	&__information
		&--value
			font 80px $Kudryashov
			line-height 1
			white-space nowrap
			
// Traditions
.sect__traditions
	position relative
	&:before
		pseudo()
		position absolute
		background-color $color-bg
		height 100%
		width 0
		transition width .8s ease-in-out
		left 0
		top 0
	&.is-animated
		&:before
			width calc(100% - 120px)
			
	.container
		position relative
		z-index 1
		
.description
	max-width 400px
	position relative
	&-wide
		max-width 600px
	
	&-wrapper
		min-height 500px
	&-img
		position absolute
		right 100%
		margin-right 100px
		height 500px
		width 620px
		vertical-center()
		
//360
.view-360
	width 400%
	padding-left 80px
	margin-left 20px
	&__content
		width 25%
		

// lounge
.sect__lounge-zone
	position relative
	padding-top 80px
	.sect-title
	
		padding-left 7%
	&:after
		pseudo()
		position absolute
		top 120px
		height calc(100% - 120px)
		right 0
		width 0
		background-color $color-bg
		transition width .8s ease-in-out
		z-index -1
	&.is-animated
		&:after
			width 50%
	.container
		position relative
		z-index 1
.lounge-zone
	img
		display block
		

//entering
.sect__entering
	.sect-title
		text-align left
		margin-left auto
		margin-right 0
		max-width 700px
.video
	position relative
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba(9, 11, 19, 0.35)
		z-index 1
		transition opacity .17s ease-in-out
	&:after
		pseudo()
		position absolute
		position-center()
		z-index 2
		width 120px
		height 120px
		background url('../img/icons/svg/play.svg') no-repeat / contain
		transition opacity .17s ease-in-out
	&.is-loaded
		&:before,
		&:after
			opacity 0
	video
		display block
		width 100%
		height auto
		object-fit cover 

		
.investor-benefit
	margin-bottom 24px
	.content
		p
			margin-bottom 15px
	&:last-child
		margin-bottom 0
	&__price
		color $accent-color
		font 40px $Kudryashov
		line-height 1
		white-space nowrap
		margin-bottom 15px
		display block
	
.sect__business
	.block-img-wrapper__left .block-text
		padding-left 100px	

.investment
	position relative
	min-height 500px
	max-width 700px
	padding-right 100px
	&-img
		position absolute
		vertical-center()
		width 620px
		height 100%
		padding-top 0
		left 100%
		img
			display block
			width 100%
			height 100%
			object-fit cover
		

.investment-information
	width 480px
	height 325px
	position relative
	z-index 1
	&:before
		pseudo()
		width 1px
		height 400px
		background-color rgba($basic-white-color, .15)
		position absolute
		transform rotate(51deg)
		left 157px
		bottom -24px
		z-index -1
	&__block
		padding-left 15px
		position absolute
		width 156px
		&:before
			pseudo()
			position absolute
			top 22px
			left 0
			width 8px
			height 8px
			border-radius 50%
			background-color $basic-white-color
		&:nth-child(1)
			bottom 0
			left 0
		&:nth-child(2)
			bottom 126px
			left 156px
		&:nth-child(3)
			top 0
			left 306px
		p
			max-width 120px
			margin-top 10px
		&--price
			white-space nowrap
			color $accent-color
			font 40px $Kudryashov
			display inline-flex
			align-items flex-end
			line-height 1
			span
				font 14px $Light
				color rgba(255, 255, 255, 0.5)
				display inline-block
				margin-left 5px
				

// Terms
.terms-content
	.row
		div
			font 12px $Med
			text-transform uppercase
			letter-spacing 0.2em
			display flex
			align-items center
			
			a
				color $text-color
				margin-right 60px
				&:hover
					color $accent-color
					
// Plan
.plan
	&-block
		
		position relative
		.entering-slider
			min-height auto
			.swiper-wrapper
				min-height auto
			&:before
				display none
				
		.entering-slider__text .content
			max-width 100%
				
		&:before
			pseudo()
			background-color $color-bg
			position absolute
			top 50px
			height calc(100% - 50px)
			left 0
			width 0
			transition width .8s ease-in-out
			z-index -1
		&.is-animated
			&:before
				width 36%
		&:last-child
			margin-bottom 0
		&-commercial
			.sect-title
				margin-left auto
				margin-right 0
				max-width 600px
				text-align left
			&:before
				right 0
				left auto
				bottom 0
				height auto
			
	&-controls
		display flex
		flex-wrap wrap
		justify-content space-between
		margin-bottom 65px
		&__btn
			flex-col-center()
			height 80px
			flex 1
			text-transform uppercase
			color rgba(255, 255, 255, 0.6)
			font 20px $Kudryashov
			position relative
			padding-left 15px
			padding-right 15px
			text-align center
			&:after
				pseudo()
				vertical-center()
				position absolute
				width 1px
				height 40px
				background-color rgba(255, 255, 255, 0.15)
				right 0
			&:last-child
				&:after
					display none
			&:hover,
			&.is-active
				color $basic-white-color
	
.plan-content__item
	position relative
	&.js-tab-content
		&:not(:first)
			display none
			
	.row
		position relative
		p
			position absolute
			width 100%
			max-width 500px
			right 100px
			top 0
			
			z-index 1
			

						
.plan-img
	flex 1
	margin-right 115px
.plan-flats
	width 300px
	flex none
	padding-top 80px
	&__list
		li
			display flex
			flex-wrap nowrap
			align-items center
			margin-bottom 5px
			line-height 1
			&:last-child
				margin-bottom 0
			span
				flex none
				flex-col-center()
				width 30px
				height 30px
				border-radius 50%
				background-color $dark-bg
				text-align center
				color $basic-white-color
				font 14px $Kudryashov
				line-height 50px
				margin-right 14px
				
			&.is-booked
				color #b2b2ba
				span
					background-color #b2b2ba
					
//infrastructure
.sect__infrastructure
	.sect-title
		max-width 700px
		margin-left auto
		margin-right 0
		text-align center
		margin-bottom 0
.infrastructure
	&__row
		margin-top -30px
	&-map
		flex 1
		position relative
		.map
			display block
			width 100%
			height 100%
		&:before
			pseudo()
			height 100%
			width 500%
			background-color $color-bg
			position absolute
			left 0
			top 0
			z-index -1
			
		&__controls
			display flex
			flex-direction column
			margin-top 60px
			
		&__btn
			display inline-flex
			align-items center
			justify-content flex-start
			flex-wrap nowrap
			text-transform uppercase
			font 16px $Kudryashov
			color rgba($basic-white-color, .6)
			margin-bottom 35px
			&:last-child
				margin-bottom 0
			svg
				display inline-block
				width 21px
				height 21px
				transition fill .17s ease-in-out
				fill $basic-white-color
				opacity .6
				margin-right 18px
				fill-rule evenodd 
				clip-rule evenodd
			&:hover,
			&.is-active
				color $basic-white-color
				svg
					opacity 1
					
	&-content
		max-width 500px
		flex 1
		width 100%
		padding-right 50px
		position relative
		&:before
			pseudo()
			height 100%
			width 500%
			background-color inherit
			position absolute
			right 100%
			margin-right -1px
			top 0
		.content
			max-width 400px
			
.sect__community
	.sect-title
		max-width 670px
		margin-bottom 0
	
	.block-text
		padding-top 150px

			

.form-block
	max-width 700px
	padding-left 100px
	padding-right 50px
	position relative
	.sect-title
		margin-bottom 5px
	p
		margin-bottom 70px
		
	&__img
		position absolute
		vertical-center()
		left 100%
		height 500px
		width 620px
		img
			display block
			width 100%
			height 100%
			object-fit cover