.sect__promo
	min-height 100vh
	background-color black
	display flex
	align-items center
	padding 130px 0 
	
.title
	margin-bottom 35px
	span
		display none
	img
		display block
		width 100%
		
.promo-block
	color $basic-white-color
	font-size 16px
	line-height 26px
	p
		margin 0 auto 35px auto
		max-width 665px
		
	&__btns
		.btn
			margin-right 16px
			width 160px
			padding-left 10px
			padding-right 10px
			&:last-child
				margin-right 0
				
			&:hover
				color $accent-color
				
.advantages
	position absolute
	z-index 2
	bottom 0
	horisontal-center()
	width 100%
	display flex
	align-items center
	
	&-content
		height 100px
		color $basic-white-color
		display flex
		align-items center
		padding 25px
	&__row
		width 100%
		
.advantage
	text-align center
	position relative
	padding-left 15px
	padding-right 15px
	&:after
		pseudo()
		height 50px
		width 1px
		background-color rgba(255, 255, 255, 0.15)
		position absolute
		right 0
		vertical-center()
	&:last-child
		&:after
			display none
			
// About
.about-complex
	&__text
		margin 0 auto 75px auto
		max-width 300px
	&__information
		&--value
			font 80px $Kudryashov
			line-height 1
			white-space nowrap
			
// Traditions
.sect__traditions
	position relative
	&:before
		pseudo()
		position absolute
		background-color $color-bg
		height 100%
		width calc(100% - 120px)
		left 0
		top 0
	.container
		position relative
		z-index 1
		
.description
	max-width 400px
	position relative
	&-wide
		max-width 600px
	
	&-wrapper
		min-height 500px
	&-img
		position absolute
		right 100%
		margin-right 100px
		height 500px
		width 620px
		vertical-center()
		
//360
.view-360
	width 200%
	padding-left 80px
	margin-left 20px
	&__content
		width 50%
		

// lounge
.sect__lounge-zone
	position relative
	padding-top 80px
	.sect-title
	
		padding-left 7%
	&:after
		pseudo()
		position absolute
		top 120px
		height 100%
		right 0
		width 50%
		background-color $color-bg
	.container
		position relative
		z-index 1
.lounge-zone
	img
		display block
		

		

		
.investor-benefit
	margin-bottom 24px
	.content
		p
			margin-bottom 15px
	&:last-child
		margin-bottom 0
	&__price
		color $accent-color
		font 40px $Kudryashov
		line-height 1
		white-space nowrap
		margin-bottom 15px
		display block
	
.sect__business
	.block-img-wrapper__left .block-text
		padding-left 100px	

.investment
	position relative
	min-height 500px
	max-width 700px
	padding-right 100px
	&-img
		position absolute
		vertical-center()
		width 620px
		height 100%
		padding-top 0
		left 100%
		

.investment-information
	width 480px
	height 325px
	position relative
	z-index 1
	&:before
		pseudo()
		width 1px
		height 400px
		background-color rgba($basic-white-color, .15)
		position absolute
		transform rotate(51deg)
		left 157px
		bottom -24px
		z-index -1
	&__block
		padding-left 15px
		position absolute
		width 156px
		&:before
			pseudo()
			position absolute
			top 22px
			left 0
			width 8px
			height 8px
			border-radius 50%
			background-color $basic-white-color
		&:nth-child(1)
			bottom 0
			left 0
		&:nth-child(2)
			bottom 126px
			left 156px
		&:nth-child(3)
			top 0
			left 306px
		p
			max-width 120px
			margin-top 10px
		&--price
			white-space nowrap
			color $accent-color
			font 40px $Kudryashov
			display inline-flex
			align-items flex-end
			line-height 1
			span
				font 14px $Light
				color rgba(255, 255, 255, 0.5)
				display inline-block
				margin-left 5px
				

// Terms
.terms-content
	.row
		div
			font 12px $Med
			text-transform uppercase
			letter-spacing 0.2em
			display flex
			align-items center
			
			a
				color $text-color
				margin-right 60px
				&:hover
					color $accent-color
					
// Plan
.plan
	&-block
		margin-bottom 60px
		position relative
		&:before
			pseudo()
			background-color $color-bg
			position absolute
			top 50px
			height 620px
			left 0
			width 36%
			z-index -1
		&:last-child
			margin-bottom 0
		&-commercial
			.sect-title
				margin-left auto
				margin-right 0
				max-width 600px
				text-align left
			&:before
				right 0
				left auto
				bottom 0
				height auto
			
	&-controls
		display flex
		flex-wrap wrap
		justify-content space-between
		margin-bottom 65px
		&__btn
			flex-col-center()
			height 80px
			flex 1
			text-transform uppercase
			color rgba(255, 255, 255, 0.6)
			font 20px $Kudryashov
			position relative
			padding-left 15px
			padding-right 15px
			text-align center
			&:after
				pseudo()
				vertical-center()
				position absolute
				width 1px
				height 40px
				background-color rgba(255, 255, 255, 0.15)
				right 0
			&:last-child
				&:after
					display none
			&:hover,
			&.is-active
				color $basic-white-color
	
.plan-content__item
	position relative
	.plan-flats
		p
			position absolute
			width 100%
			max-width 500px
			right 100px
			top 0
			
			z-index 1
						
.plan-img
	flex 1
	margin-right 115px
.plan-flats
	width 300px
	flex none
	padding-top 80px
	&__list
		li
			display flex
			flex-wrap nowrap
			align-items center
			margin-bottom 5px
			line-height 1
			&:last-child
				margin-bottom 0
			span
				flex none
				flex-col-center()
				width 30px
				height 30px
				border-radius 50%
				background-color $dark-bg
				text-align center
				color $basic-white-color
				font 14px $Kudryashov
				line-height 50px
				margin-right 14px
				
			&.is-booked
				color #b2b2ba
				span
					background-color #b2b2ba