<div class="plan-content__item js-tab-content is-active">
	<div class="row align-vertical-end align-horisontal-between row-nowrap">
		<p>На одном этаже A Nova House размещено 10 квартир с эргономичным дизайном. Площадь квартир варьируется от 21,59 до 30,49 м².</p>
		<a href="img/plans/2-res.jpg" class="plan-img fancy-link" data-fancybox>
			<img src="img/plans/2-res.jpg" alt="">
		</a>
		<div class="plan-flats">


			<ul class="plan-flats__list">
				<li><span>201</span>Квартира 30,49 м²</li>
				<li class="is-booked"><span>202</span>Квартира 30,49 м²</li>
				<li class="is-booked"><span>203</span>Квартира 30,49 м²</li>
				<li class="is-booked"><span>204</span>Квартира 30,49 м²</li>
				<li><span>205</span>Квартира 30,49 м²</li>
				<li class="is-booked"><span>206</span>Квартира 30,49 м²</li>
				<li class="is-booked"><span>207</span>Квартира 30,49 м²</li>
				<li><span>208</span>Квартира 30,49 м²</li>
				<li><span>209</span>Квартира 30,49 м²</li>
				<li><span>210</span>Квартира 30,49 м²</li>
				<li><span>211</span>Квартира 30,49 м²</li>
				<li><span>212</span>Квартира 30,49 м²</li>
				<li><span>213</span>Квартира 30,49 м²</li>
			</ul>
		</div>
	</div>
</div>