<div class="plan-content__item js-tab-content">
	<div class="row align-vertical-end align-horisontal-between row-nowrap">
		<p>На одном этаже A Nova House размещено 10 квартир с эргономичным дизайном. Площадь квартир варьируется от 21,59 до 30,49 м².</p>
		<a href="img/plans/4-res.jpg" class="plan-img fancy-link" data-fancybox>
			<img src="img/plans/4-res.jpg" alt="">
		</a>
		<div class="plan-flats">


			<ul class="plan-flats__list">
				<li><span>401</span>Квартира 30,49 м²</li>
				<li class="is-booked"><span>402</span>Квартира 30,49 м²</li>
				<li class="is-booked"><span>403</span>Квартира 30,49 м²</li>
				<li><span>404</span>Квартира 30,49 м²</li>
				<li><span>405</span>Квартира 30,49 м²</li>
				<li><span>406</span>Квартира 30,49 м²</li>
				<li class="is-booked"><span>407</span>Квартира 30,49 м²</li>
				<li><span>408</span>Квартира 30,49 м²</li>
				<li><span>409</span>Квартира 30,49 м²</li>
				<li><span>410</span>Квартира 30,49 м²</li>
				<li><span>411</span>Квартира 30,49 м²</li>
				<li class="is-booked"><span>412</span>Квартира 30,49 м²</li>
				<li><span>413</span>Квартира 30,49 м²</li>
			</ul>
		</div>
	</div>
</div>